<p id="notice"><%= notice %></p>
  <div class="container">
    <div class="row">
      <h1>Picture Search
        <%= link_to 'Upload Picture', new_picture_path, class:"btn btn-default pull-right" %>
      </h1>
      <div class="col-lg-12">
        <%= form_tag pictures_path, :method => :get, :html => {:class => "form-inline"} do %>
            <%= text_field_tag :celeb_name, params[:celeb_name], class:"form-control", placeholder:"Who?" %>
        <hr>
        </div>      
      <% end %>

      <% @pictures.each do |picture| %>
        <%= render partial: 'picture_panel', locals: {picture: picture} %>
      <% end %>
    
    </div>
    <div class="row">
     <hr>
      <div class="col-lg-12 centered">
        
      </div>
    </div>
  </div>
